/*화면에 꽉 채우기 위해*/
html {
    height: 100%;
} 

body {
    background-color: #E0EBFF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100%; /*왜 해주는거지...*/
}

.todo-wrapper {
    justify-content: center;
    margin: 3rem;
    min-width: 600px; /*이건 또 멍미~*/
}

.todo-title {
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.todo-box {
    background-color: white;
}

.todo-input-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Sunflower', 'Ubuntu', sans-serif;

    height: 3rem;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: transparent; /*버튼 배경 투명으로 바꾸고*/
    border: 0; /*경계 0으로*/
}

.todo-input {
    width: 80%;
    text-align: center;
    border: 0;
    outline: none;
}

.todo-list {
    padding-left: 0px;
    margin: 0px;
}

.todo-item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 3rem;
    border-bottom: 1px solid #ddd;
}

.all-button {
    margin: 1rem;
}

.checkbox {
    margin: 1rem 0.7rem;

    /*
    border-radius: 50px;
    border: 1px solid lightgray;
    */

    min-width: none;
    min-height: none;
    text-align: center;

    cursor: pointer;
}

.todo {
    font-family: 'Sunflower', 'Ubuntu', sans-serif;
    text-align: center;
    margin: 1rem;
}

/*del 버튼 위에 마우스 올렸을 때 투명도*/
.deleteBTN:hover {
    opacity: 0.3; 
}

/*del 버튼 위에 마우스 올렸을 때 마우스 모양 pointer로 바뀜*/
.deleteBTN {
    cursor: pointer;
    width: 2rem;
}

.todo-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    padding: 0rem 0.5rem;
}

.button-group button{
    border: 1px solid #ddd;
    border-radius: 7px;

    padding: 0.2rem 0.5rem;
    margin: 0rem 0.2rem;

    cursor: pointer;
}

p.information {
    margin-top: 1rem;
    text-align: center;
    color: #ccc;
}

